
@{
    ViewData["Title"] = "Addasignee";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<h2>Add a new Assignee</h2>
<form action="addassignee" method="post">
    Add an Assignee!<br>
    <label>Name of Assignee</label>
    <input type="text" name="Name" required value=""><br>
    <br>
    <label>Email of Assignee</label>
    <input type="text" name="Email" required value=""><br>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>